{{ "<!-- [ begin layouts/_default/single.html ] -->" | safeHTML }}
{{ partial "header.html" . }}

      <div class="row">
        <div class="col s8 offset-s2">
          <div class="divider"></div>
        
          {{ "<!-- begin main content -->" | safeHTML }}
          <main>
            <article>
              {{ .Content }}
            </article>
          </main>
          {{ "<!-- end main content -->" | safeHTML }}

          <div class="divider"></div>
        </div>
      </div>

{{ partial "footer.html" . }}
{{ "<!-- [ end layouts/_default/single.html ] -->" | safeHTML }}