      {{ "<!-- [ begin layouts/partials/footer.html ] -->" | safeHTML }}
      <div class="row">
        <div class="col s4 offset-s4 center">
          
          {{ "<!-- begin footer content -->" | safeHTML }}
          <footer class="light grey-text" style="font-size: 75%">
            <div class="social">
              {{ .Site.Params.social | safeHTML }}
            </div>
            <div class="license">
              {{ .Site.Params.license | safeHTML }}
            </div>
            <div class="copyright">
              {{ .Site.Params.copyright | safeHTML }}
            </div>
          </footer>
          {{ "<!-- end footer content -->" | safeHTML }}      
          
        </div>
      </div>

      {{ "<!-- import materialize scripting framework -->" | safeHTML }}
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="/js/materialize.min.js"></script>
      <script type="text/javascript" src="/js/init.js"></script>

    </div>
  </body>
</html>
{{ "<!-- [ end layouts/partials/footer.html ] -->" | safeHTML }}